body, html {
    margin: 0px;
    padding:0px;
    width: 100%;
    height: 100%;
    background-color: #f9f8ff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;

    scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
}

*:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}

#main {
    max-width: 620px;
    width: 620px;
    margin:auto;
    position: relative;
}

.content {
    width: auto;
    color: #222c3c;
    padding: 60px;
    background-color: #fff;
    border-radius: 15px;
    min-height: 200px;
    position: relative;
    margin: 10px;
    -webkit-box-shadow: 0px 9px 15px 5px #D5D6DF; 
box-shadow: 0px 9px 15px 5px #D5D6DF;
}

#arrow {
    position: absolute; 
    background-color: white; 
    width: 70px; 
    height: 70px; 
    transform: rotate(45deg); 
    margin: 0 auto;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 9px 15px 5px #D5D6DF; 
    box-shadow: 0px 9px 15px 5px #D5D6DF;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 70px;
    padding-right: 20px;
    transition: all .3s ease;
  }

.user:hover {
    -webkit-box-shadow: 0px 9px 15px 5px #D5D6DF; 
    box-shadow: 0px 9px 15px 5px #D5D6DF;
    cursor: pointer;

}
.user div {
    flex: 1;
}

.user div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    padding-right: 20px;
}

.user div:first-child img {
    border-radius:50%; 
    vertical-align: middle; 
    float: left;
}

h2 {
    padding-top: 0px;
    margin: 0px;
    font-size: 22px;
}

h2 span {
    font-weight: 300;
}

p {
    padding: 0px;
    margin: 0px;
    color: #949697;
}

button {
    margin: auto;
    display: block;
    border-radius: 50px;
    padding: 20px 45px;
    background-color: #edf3fc;
    font-size: 24px;
    font-weight: 600;
    border: 0px;
    cursor: pointer;
    color: #213237;
    transition: all .3s ease;
}

button:hover {
    background-color: #598be2;
    color: white;
}

.activity {
    background-color: #578de3;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    -webkit-box-shadow: 0px 10px 15px -10px rgba(87,141,227,0.78); 
    box-shadow: 0px 10px 15px -10px rgba(87,141,227,0.78);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-activity' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M3 12h4l3 8l4 -16l3 8h4' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease;
}

.activity:hover {
    background-color: #3462b7;
    cursor: pointer;
}

@media only screen and (max-width: 490px) {
    .content {
        padding: 10px;
    }
}
